{% extends "shop/base.html" %}
{% load static %}
{% load template_tools %}

{% block extrastyle %}
  <link rel="stylesheet" href="{% static 'css/image_filters.css' %}" />
  <link rel="stylesheet" href="{% static 'css/carousel.css' %}" />

  <link rel="stylesheet" href="{% static 'shop/css/carousel_style.css' %}" />
{% endblock %}

{% block content %}
  {% block carousel %}
    <div class="carousel" id="id_carousel">
      {% for carousel_item in carousel_items %}
        <div class="carousel-item">
          <img class="d-block w-100 darken-image" src="{{ carousel_item.image.url }}" style="width:100%">
         <div class="carousel-item-text">
              <h1 style='margin-bottom:100px;font: 62.5% "Roboto","Arial","Helvetica",sans-serif;font-size: 5em;font-weight: 700;'>{{ carousel_item.title }}</h1>
              <h3 style='font: 62.5% "Roboto","Arial","Helvetica",sans-serif;font-size: 1.9em;'>{{ carousel_item.subtitle }}</h3>
         </div>
        </div>
         <div class="carousel-item">
          <img class="d-block w-100 darken-image" src="{{ carousel_item.image.url }}" style="width:100%">
         <div class="carousel-item-text">
              <h1 style='margin-bottom:100px;font: 62.5% "Roboto","Arial","Helvetica",sans-serif;font-size: 5em;font-weight: 700;'>{{ carousel_item.title }}</h1>
              <h3 style='font: 62.5% "Roboto","Arial","Helvetica",sans-serif;font-size: 1.9em;'>{{ carousel_item.subtitle }}</h3>
         </div>
        </div>
      {% endfor %}
    </div>
  {% endblock %}

  {% block under_carousel %}{% endblock %}
{% endblock %}

{% block scripts %}
  {{ block.super }}

  <script src="{% static '/js/carousel.js' %}"></script>
  <script>StartCarouselScrolling("id_carousel", {% block carousel_interval %}3000{% endblock %})</script>
{% endblock %}
