{% extends './base.html' %}

{% block content %}
<article class ='profil'>
    <h1>Introduction</h1>

    <p class="first-letter-styling">In the world of museums, the name <em>"Smithsonian Institution"</em> reigns supreme. Let's embark on a<wbr/> condensed journey through the history of this institution that has redefined how we experience<wbr /> and cherish art, culture, and history.</p>

    <br/><q cite=https://www.brainyquote.com/quotes/lyndon_b_johnson_157402> The noblest search is the search for excellence. </q> - Lyndon B. Johnson

    <h1>The Visionary Beginning</h1>

    <p class="context-styling">Our story begins in the late 19th century when curator John A. Smithson envisioned a museum <wbr /><em>accessible to everyone</em>. In 1879, he founded the "Smithsonian Institution," named after his <wbr />family, becoming the cornerstone of the company that would rule the museum scene.</p>

    <h1>Innovation and Expansion</h1>

    <ul class="list-styling">
        <li>Interactive exhibits</li>
        <li>Immersive displays</li>
        <li>LAS</li>
        <li>WERTY</li>
        <li>ANN</li>
        <li>VASYA</li>

    </ul>

    <p class="text-highlight">The Smithsonian rapidly grew into a network of museums, research centers, and libraries, championing innovation and excellence. <em>Interactive exhibits</em>, <em>immersive displays</em>, and <em>cutting-edge<wbr /> technology</em> reshaped the museum experience, making the Smithsonian a <em>global leader</em> in the field.</p>

    <h1>Global Influence</h1>

    <p class="context-styling">The Smithsonian's influence extended worldwide. Collaborations with international museums<wbr /> promoted cross-cultural understanding, reinforcing its position as a company shaping not only<wbr /> museums but international cooperation and arts appreciation.</p>

    <h1>Adaptation and Challenges</h1>

    <q lang="en" cite="https://www.jfklibrary.org/learn/about-jfk/life-of-john-f-kennedy/john-f-kennedy-quotations#:~:text=For%20time%20and%20the%20world,Kennedy%2C%201963.">
        - John F. Kennedy
        But Goethe tells us in his greatest poem that Faust lost the liberty of his soul when he said to the passing moment
    </q>

    <q lang="ru" cite="https://russianpodcast.eu/famous-russian-quotes.html">
     Счастлив тот, кто счастлив у себя дома”. Лев Толстой (1828-1910)
    </q>


</article>




<article class = 'profil-end'>

    <section class ="text-fragment">
            <p>Here are breathtaking poem
            Eyes of grey -- a sodden quay,
            Driving rain and falling tears,
            As the steamer wears to sea
            In a parting storm of cheers.
            Sing, for Faith and Hope are high --
            None so true as you and I --
            Sing the Lovers' Litany:
                "Love like ours can never die!"</p>
            <p>
            Eyes of black -- a throbbing keel,
            Milky foam to left and right;
            Whispered converse near the wheel
            In the brilliant tropic night.
            Cross that rules the Southern Sky!
            </p>


        </section>
    <p>HTML - это <abbr title="HyperText Markup Language">язык разметки гипертекста</abbr>, используемый для создания веб-страниц.</p>

    <h1>Пример тега &lt;code&gt;</h1>

    <p>В следующем примере мы используем тег &lt;code&gt; для отображения фрагмента кода JavaScript:</p>

    <pre><code>
function sayHello() {
    console.log("Привет, мир!");
}
    </code></pre>

    <p>Этот код создает функцию <code>sayHello</code>, которая выводит сообщение "Привет, мир!" в консоль.</p>

<p>HTML (<dfn>HyperText Markup Language</dfn>) - это язык разметки для создания и структурирования веб-страниц.</p>


<table border="1">
    <caption>Table for Lab</caption>
         <tr>
            <th id="criterion">Criterion</th>
            <th id="name">Name</th>
            <th id="age">Age</th>
            <th id="gender">Gender</th>
         </tr>
         <tr>
            <th id="popular" headers="criterion"><em>Popular</em></th>
            <td headers="name popular" align="center">Nikita</td>
            <td headers="age popular" align="center">35</td>
            <td headers="gender popular" align="center">Female</td>
         </tr>
         <tr>
            <th id="first_person_cosmos" headers="criterion"><em>First person in cosmos</em></th>
            <td colspan="3" headers="first_person_cosmos" align="center">
               <p>Yuriy Gagarin</p>
            </td>
         </tr>
         <tr>
            <th id="who_invented_atombomb" headers="criterion">
               <em>Who invented atom bomb:</em>
            </th>
            <td colspan="3" headers="who_invented_atombomb" align="center">
               Oppenheimer
            </td>
         </tr>
      </table>
</article>


<section class="sertificate sertificate-bg">
    <br />
    <div style="text-align:center;">CERTIFICATE OF MEMBERSHIP IN RBMW (REGISTRY OF THE BESTSHOP IN THE WORLD)</div>
    <br />
    <br />
    <br />
    <div style="text-align:center">UNIFIED REGISTER OF PIZZERIAS</div>
    <div style="text-align:center">CERTIFICATE</div>
    <div style="text-align:center"><small>regarding the Inclusion of Information</small></div>
    <br />

    <div>
        <p style=" text-align:left;">uezdniy gorod N </p> <p style="text-align:right;"> 32 may 2023</p>
    </div>
    <br />
    <b>ООО "Zelenoglazoe taksi"</b>
    <br />

    <div class="gradient"></div>

    Ivanov I.I.
    <br />
    A very important director

</section>


{% endblock %}

