{% extends "shared/layout.html" %}

{% block content %}
<article>
    <h4>Introduction</h4>

    In the world of museums, the name <em>"Smithsonian Institution"</em> reigns supreme. Let's embark on a<wbr/> condensed journey through the history of this institution that has redefined how we experience<wbr /> and cherish art, culture, and history.

    <br/><q cite=https://www.brainyquote.com/quotes/lyndon_b_johnson_157402> The noblest search is the search for excellence. </q> - Lyndon B. Johnson

    <h5>The Visionary Beginning</h5>

    Our story begins in the late 19th century when curator John A. Smithson envisioned a museum <wbr /><em>accessible to everyone</em>. In 1879, he founded the "Smithsonian Institution," named after his <wbr />family, becoming the cornerstone of the company that would rule the museum scene.

    <h5>Innovation and Expansion</h5>

    The Smithsonian rapidly grew into a network of museums, research centers, and libraries,<wbr /> championing innovation and excellence. <em>Interactive exhibits</em>, <em>immersive displays</em>, and <em>cutting-edge<wbr /> technology</em> reshaped the museum experience, making the Smithsonian a <em>global leader</em> in the field.

    <h5>Global Influence</h5>

    The Smithsonian's influence extended worldwide. Collaborations with international museums<wbr /> promoted cross-cultural understanding, reinforcing its position as a company shaping not only<wbr /> museums but international cooperation and arts appreciation.

    <h5>Adaptation and Challenges</h5>

    Facing economic shifts and technological advances, the Smithsonian adapted by investing in<wbr /> conservation, sustainability, and cutting-edge technologies like VR and AR, ensuring its<wbr /> continued prominence.

    <blockquote cite="https://www.jfklibrary.org/learn/about-jfk/life-of-john-f-kennedy/john-f-kennedy-quotations#:~:text=For%20time%20and%20the%20world,Kennedy%2C%201963.">
        - John F. Kennedy
        But Goethe tells us in his greatest poem that Faust lost the liberty of his soul when he said to the passing moment:
        'Stay, thou art so fair.' And our liberty, too, is endangered if we pause for the passing moment, if we rest on our achievements,
        if we resist the pace of progress. For time and the world do not stand still. Change is the law of life. And those who look only to
        the past or the present are certain to miss the future.
    </blockquote>

    <h5>Conclusion</h5>

    The Smithsonian Institution's journey, from its visionary beginnings to its global impact, is a<wbr /> testament to its commitment to education and culture. As we explore its museums and digital<wbr /> archives, we appreciate its legacy and its enduring rule over the world of museums.

</article>
<article translate="yes">
    <figure>
        <br />Here are breathtaking poem <br />
        <article>
            Eyes of grey -- a sodden quay,<br />
            Driving rain and falling tears,<br />
            As the steamer wears to sea<br />
            In a parting storm of cheers.<br />
            Sing, for Faith and Hope are high --<br />
            None so true as you and I --<br />
            Sing the Lovers' Litany:<wbr />
            "Love like ours can never die!"<br />
            <br />
            Eyes of black -- a throbbing keel,<br />
            Milky foam to left and right;<br />
            Whispered converse near the wheel<br />
            In the brilliant tropic night.<br />
            Cross that rules the Southern Sky!<br />

            Stars that sweep and wheel and fly,<wbr />
            Hear the Lovers' Litany:<wbr />
            Love like ours can never die!"<br />
            <br />
            Eyes of brown -- a dusy plain<br />
            Split and parched with heat of June,<br />
            Flying hoof and tightened rein,<br />
            Hearts that beat the old, old tune.<br />
            Side by side the horses fly,<br />
            Frame we now the old reply<wbr />
            Of the Lovers' Litany:<wbr />
            "Love like ours can never die!"<br />
            <br />
            Eyes of blue -- the Simla Hills<br />
            Silvered with the moonlight hoar;<br />
            Pleading of the waltz that thrills,<br />
            Dies and echoes round Benmore.<br />
            "Mabel," "Officers," "Good-bye,"<br />
            Glamour, wine, and witchery -<br />
            On my soul's sincerity,<wbr />
            "Love like ours can never die!"<br />
            <br />
            Maidens of your charity,<br />
            Pity my most luckless state.<br />
            Four times Cipid's debtor I --<br />
            Bankrupt in quadruplicate.<br />
            Yet, despite this evil case,<br />
            And a maiden showed me grace,<br />
            Four-and-forty times would I<br />
            Sing the Lovers' Litany:<wbr />
            "Love like ours can never die!"<br />
        </article>
        <figcaption>
            Rudyard Kipling <i>"The Lovers' Litany"</i>
        </figcaption>
    </figure>

</article>
<br />
<img src="/media/icons/logos/MuseumLogo.png" alt="breathtakin logo of brilliant company"
     sizes="(max-width: 1em) 1em, 2em"
     srcset="/media/icons/logos/MuseumLogo.png 1.33x,
          /media/icons/logos/MuseumLogoHighRes.png 2.67x,
          /media/icons/logos/MuseumLogoHighResUltra.png 4x">
<br />

<br />
<article>
    <iframe name="fr" width="400" height="400" srcdoc=" {%include "shared/sertificate.html"%}"></iframe>
</article>
<br />
<audio autoplay controls id="awesome_music" muted>
    <source src="/media/audio/expic_music.mp3" />
</audio>

{% endblock %}