{% extends "shop/base.html" %}
{% load static %}

{% block content %}

<label class="marketing-input-wrapper">

<span class="marketing-label"></span>
<textarea
  rows="210"
  cols="199"
  readonly>

Политика конфиденциальности Mater Far.
Последнее обновление: 10/09/2023

Эта Политика конфиденциальности описывает, как Mater Headlight ("Сайт", "мы", "нас" или "наш") собирает, использует и раскрывает вашу личную информацию, когда вы посещаете, пользуетесь нашими услугами или совершаете покупку на ("Сайте") или иным образом общаетесь с нами (совместно именуемые "Услуги"). Для целей настоящей Политики конфиденциальности "вы" и "ваш" означают вас как пользователя Услуг, независимо от того, являетесь ли вы клиентом, посетителем веб-сайта или другим физическим лицом, чью информацию мы собрали в соответствии с настоящей Политикой конфиденциальности.

Пожалуйста, внимательно прочтите эту Политику конфиденциальности. Используя любую из Служб и получая доступ к ней, вы соглашаетесь на сбор, использование и раскрытие вашей информации, как описано в настоящей Политике конфиденциальности. Если вы не согласны с настоящей политикой конфиденциальности, пожалуйста, не пользуйтесь никакими Сервисами и не получайте к ним доступ.

Изменения в настоящей Политике конфиденциальности

Мы можем время от времени обновлять настоящую Политику конфиденциальности, в том числе для отражения изменений в нашей практике или по другим операционным, юридическим или нормативным причинам. Мы разместим пересмотренную политику конфиденциальности на Сайте, обновим дату "Последнего обновления" и предпримем любые другие шаги, требуемые применимым законодательством.

Как мы собираем и используем Вашу личную информацию

Для предоставления Услуг мы собираем и собирали в течение последних 12 месяцев личную информацию о вас из различных источников, как указано ниже. Информация, которую мы собираем и используем, варьируется в зависимости от того, как вы взаимодействуете с нами.

В дополнение к конкретным видам использования, описанным ниже, мы можем использовать информацию, которую мы собираем о вас, для связи с вами, предоставления Услуг, соблюдения любых применимых юридических обязательств, обеспечения соблюдения любых применимых условий предоставления услуг, а также для защиты Услуг, наших прав и прав наших пользователей или других лиц.

Какую личную информацию мы собираем

Типы личной информации, которую мы получаем о вас, зависят от того, как вы взаимодействуете с нашим сайтом и пользуетесь нашими услугами. Когда мы используем термин "личная информация", мы имеем в виду информацию, которая идентифицирует, относится к вам, описывает или может быть связана с вами. В следующих разделах описываются категории и конкретные типы личной информации, которую мы собираем.

Информация, которую мы собираем непосредственно от Вас

Информация, которую вы непосредственно предоставляете нам через наши сервисы, может включать:

- Основные контактные данные, включая ваше имя, адрес, номер телефона, адрес электронной почты.
- Информация о заказе, включая ваше имя, адрес для выставления счета, адрес доставки, подтверждение оплаты, адрес электронной почты, номер телефона.
- Информация об учетной записи, включая ваше имя пользователя, пароль, секретные вопросы.
- Информация о покупках, включая товары, которые вы просматриваете, кладете в корзину или добавляете в свой список желаний.
- Информация о службе поддержки клиентов, включая информацию, которую вы решите включить в переписку с нами, например, при отправке сообщения через Сервисы.

Некоторые функции Сервисов могут потребовать от вас напрямую предоставить нам определенную информацию о себе. Вы можете отказаться предоставлять эту информацию, но это может помешать вам использовать эти функции или получить к ним доступ.

Информация, которую мы собираем с помощью файлов cookie

Мы также автоматически собираем определенную информацию о вашем взаимодействии с Сервисами ("Данные об использовании"). Для этого мы можем использовать файлы cookie, пиксельные изображения и аналогичные технологии ("Cookies"). Данные об использовании могут включать информацию о том, как вы получаете доступ к нашему сайту и используете свою учетную запись, включая информацию об устройстве, информацию о браузере, информацию о вашем сетевом подключении, ваш IP-адрес и другую информацию, касающуюся вашего взаимодействия с Сервисами.

Информация, которую мы получаем от третьих лиц

Наконец, мы можем получать информацию о вас от третьих лиц, в том числе от продавцов и поставщиков услуг, которые могут собирать информацию от нашего имени, такую как:

- Компании, которые поддерживают наш сайт и сервисы, такие как Shopify.
- Наши платежные системы, которые собирают платежную информацию (например, банковский счет, данные кредитной или дебетовой карты, платежный адрес) для обработки вашего платежа с целью выполнения ваших заказов и предоставления вам продуктов или услуг, которые вы запросили, в целях выполнения нашего контракта с вами.
- Когда вы посещаете наш сайт, открываете электронные письма, которые мы вам отправляем, или нажимаете на них, или взаимодействуете с нашими сервисами или рекламой, мы или третьи лица, с которыми мы работаем, можем автоматически собирать определенную информацию, используя технологии онлайн-отслеживания, такие как пиксели, веб-маяки, наборы для разработчиков программного обеспечения, сторонние библиотеки и файлы cookie.

Любая информация, которую мы получаем от третьих лиц, будет обрабатываться в соответствии с настоящей Политикой конфиденциальности. Мы не несем ответственности за точность информации, предоставленной нам третьими лицами, и не несем ответственности за политику или практику каких-либо третьих лиц. Для получения дополнительной информации смотрите раздел ниже "Сторонние веб-сайты и ссылки".

Как мы используем Вашу личную информацию

- Предоставление продуктов и услуг. Мы используем вашу личную информацию для предоставления вам Услуг в целях выполнения нашего контракта с вами, в том числе для обработки ваших платежей, выполнения ваших заказов, отправки вам уведомлений, связанных с вашей учетной записью, покупками, возвратами, обменами или другими транзакциями, для создания, поддержания и иного управления вашей учетной записью, для организуем доставку, облегчим любые возвраты и обмены, а также дадим вам возможность оставлять отзывы.
- Маркетинг и реклама. Мы используем вашу личную информацию в маркетинговых и рекламных целях, таких как отправка маркетинговых, рекламных и промо-сообщений по электронной почте, текстовых сообщений или почтовых отправлений, а также для показа вам рекламы продуктов или услуг. Это может включать использование вашей личной информации для лучшей адаптации Услуг и рекламы на нашем сайте и других веб-сайтах.
- Безопасность и предотвращение мошенничества. Мы используем вашу личную информацию для обнаружения, расследования или принятия мер в отношении возможной мошеннической, незаконной или злонамеренной деятельности. Если вы решите воспользоваться Услугами и зарегистрируете учетную запись, вы несете ответственность за сохранность учетных данных вашей учетной записи. Мы настоятельно рекомендуем вам никому не сообщать свое имя пользователя, пароль или другие данные доступа. Если вы считаете, что ваша учетная запись была взломана, пожалуйста, немедленно свяжитесь с нами.
- Общаюсь с вами. Мы используем вашу личную информацию для предоставления вам поддержки клиентов и улучшения наших услуг. Это отвечает нашим законным интересам, чтобы быть отзывчивыми по отношению к вам, предоставлять вам эффективные услуги и поддерживать наши деловые отношения с вами.

Печенье

Как и многие веб-сайты, мы используем файлы cookie на нашем сайте. Для получения более подробной информации о файлах cookie, которые мы используем для обеспечения работы нашего магазина с Shopify, смотрите https://www.shopify.com/legal/cookies . Мы используем файлы cookie для обеспечения работы и улучшения нашего сайта и наших Сервисов (в том числе для запоминания ваших действий и предпочтений), для проведения аналитики и лучшего понимания взаимодействия пользователей с Сервисами (в наших законных интересах администрировать, улучшать и оптимизировать Сервисы). Мы также можем разрешить третьим лицам и поставщикам услуг использовать файлы cookie на нашем сайте, чтобы лучше адаптировать услуги, продукты и рекламу на нашем сайте и других веб-сайтах.

Большинство браузеров автоматически принимают файлы cookie по умолчанию, но вы можете настроить свой браузер на удаление или отклонение файлов cookie с помощью элементов управления вашего браузера. Пожалуйста, имейте в виду, что удаление или блокировка файлов cookie может негативно повлиять на ваш пользовательский опыт и может привести к неправильной работе некоторых сервисов, включая определенные функции и общий функционал, или к тому, что они больше не будут доступны. Кроме того, блокирование файлов cookie не может полностью помешать тому, как мы делимся информацией с третьими лицами, такими как наши рекламные партнеры.

Как мы раскрываем личную информацию

При определенных обстоятельствах мы можем раскрывать вашу личную информацию третьим лицам в законных целях в соответствии с настоящей Политикой конфиденциальности. Такие обстоятельства могут включать:

- С поставщиками или другими третьими лицами, которые предоставляют услуги от нашего имени (например, управление ИТ, обработка платежей, аналитика данных, поддержка клиентов, облачное хранилище, выполнение заказов и доставка).
- С деловыми и маркетинговыми партнерами, включая Shopify, для предоставления вам услуг и рекламы. Наши деловые и маркетинговые партнеры будут использовать вашу информацию в соответствии с их собственными уведомлениями о конфиденциальности.
- Когда вы направляете, запрашиваете нас или иным образом даете согласие на раскрытие нами определенной информации третьим лицам, например, для отправки вам продуктов или посредством использования вами виджетов социальных сетей или интеграции логинов, с вашего согласия.
- С нашими аффилированными лицами или иным образом в рамках нашей корпоративной группы, в наших законных интересах ведения успешного бизнеса.
- В связи с деловой сделкой, такой как слияние или банкротство, для соблюдения любых применимых юридических обязательств (включая реагирование на повестки в суд, ордера на обыск и аналогичные запросы), для обеспечения соблюдения любых применимых условий предоставления услуг, а также для защиты Сервисов, наших прав и прав наших пользователей или другие.

За последние 12 месяцев мы раскрыли следующие категории личной информации и конфиденциальных персональных данных (обозначенных знаком *) о пользователях для целей, изложенных выше в разделах "Как мы собираем и используем вашу личную информацию" и "Как мы раскрываем личную информацию".:

Категория:

- Идентификаторы, такие как основные контактные данные и определенная информация о заказе и учетной записи
- Коммерческая информация, такая как информация о заказе, информация о покупках и информация о поддержке клиентов
- Интернет или другая подобная сетевая активность, такая как данные об использовании

Категории получателей:

- Поставщики и третьи стороны, которые предоставляют услуги от нашего имени (такие как интернет-провайдеры, платежные системы, партнеры по выполнению заказов, партнеры по поддержке клиентов и поставщики аналитики данных)
- Деловые и маркетинговые партнеры
- Филиалы

Мы не используем и не раскрываем конфиденциальную личную информацию в целях определения ваших характеристик.
</textarea>
</label>
</article>

<article translate="yes">
    <figure>
        <br />Here are breathtaking poem <br />
        <article>
            Eyes of grey -- a sodden quay,<br />
            Driving rain and falling tears,<br />
            As the steamer wears to sea<br />
            In a parting storm of cheers.<br />
            Sing, for Faith and Hope are high --<br />
            None so true as you and I --<br />
            Sing the Lovers' Litany:<wbr />
            "Love like ours can never die!"<br />
            <br />
            Eyes of black -- a throbbing keel,<br />
            Milky foam to left and right;<br />
            Whispered converse near the wheel<br />
            In the brilliant tropic night.<br />
            Cross that rules the Southern Sky!<br />

            Stars that sweep and wheel and fly,<wbr />
            Hear the Lovers' Litany:<wbr />
            Love like ours can never die!"<br />
            <br />
            Eyes of brown -- a dusy plain<br />
            Split and parched with heat of June,<br />
            Flying hoof and tightened rein,<br />
            Hearts that beat the old, old tune.<br />
            Side by side the horses fly,<br />
            Frame we now the old reply<wbr />
            Of the Lovers' Litany:<wbr />
            "Love like ours can never die!"<br />
            <br />
            Eyes of blue -- the Simla Hills<br />
            Silvered with the moonlight hoar;<br />
            Pleading of the waltz that thrills,<br />
            Dies and echoes round Benmore.<br />
            "Mabel," "Officers," "Good-bye,"<br />
            Glamour, wine, and witchery -<br />
            On my soul's sincerity,<wbr />
            "Love like ours can never die!"<br />
            <br />
            Maidens of your charity,<br />
            Pity my most luckless state.<br />
            Four times Cipid's debtor I --<br />
            Bankrupt in quadruplicate.<br />
            Yet, despite this evil case,<br />
            And a maiden showed me grace,<br />
            Four-and-forty times would I<br />
            Sing the Lovers' Litany:<wbr />
            "Love like ours can never die!"<br />
        </article>
        <figcaption>
            Rudyard Kipling <i>"The Lovers' Litany"</i>
        </figcaption>
    </figure>

</article>

{% load static %}
<video
   width="360" height="240"
   src="{% static '/shop/video.mp4' %}"
       autoplay controls preload="none" muted>
    Video cannot be displayed
</video>

<img src="{% static '/shop/images/certificate.png' %}" height="1000px">

{% endblock %}